@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color:rgb(160, 146, 146);
}

.App {
  text-align: center;
}

.menuList {
  list-style: none;
  display: flex;
}

.menuList li {
  margin: 10px;
  font-size: 25px;
}
.menuList li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(104, 92, 92);
  width: 90%;
  margin: 0px auto 30px auto;
  box-sizing: border-box;
  padding: 0px 200px;
  align-items: baseline;
  border-radius: 4px;
}

.logo {
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
}

.about {
  width: 700px;
  margin: auto;
}

.contactItem {
  border-bottom: 2px solid rgb(0, 0, 0);
  padding: 5px;
  width: 300px;
  margin: auto;
}
.heading {
  margin-top: 180px;
  font-size: 60px;
}

.projectItem {
  border-bottom: 2px solid rgb(0, 0, 0);
  padding: 8px;
  width: 450px;
  margin: auto;
}

.subHeading {
  font-size: 30px;
}

.img {
  width: 9%;
  height: 9%;
}
